[tool.poetry]
name = "project"
version = "0.0.0"
description = ""
authors = ["walchko <walchko@users.noreply.github.com>"]
readme = "readme.md"
license = "MIT"
homepage = "https://pypi.org/project/{{ project }}/"
repository = 'http://github.com/{{ git_repo }}/{{ project }}'
# documentation = "http://..."
keywords = [""]
classifiers = [
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3.13',
    'Topic :: Software Development :: Libraries',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: Software Development :: Libraries :: Application Frameworks'
]

[tool.poetry.dependencies]
python = ">=3.13"

[tool.poetry.dev-dependencies]
pytest = "*"

[tool.poetry.scripts]
my_package_cli = 'project.console:run'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
